# version=RHEL8

# Configure installation method
cmdline

# Remote installation
url --url=https://repo.almalinux.org/almalinux/8/BaseOS/x86_64/kickstart/

# Repositories
repo --name=appstream --mirrorlist=https://mirrors.almalinux.org/mirrorlist/8/appstream
repo --name=base --mirrorlist=https://mirrors.almalinux.org/mirrorlist/8/baseos
repo --name=epel --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=epel-$releasever&arch=$basearch


# Packages
%packages
@^minimal-environment
@guest-agents
@fonts
epel-release
xorg-x11-server-Xorg 
xorg-x11-xinit 
xorg-x11-drv-libinput 
mesa-dri-drivers
xfce4-panel 
xfce4-session 
xfce4-settings 
xfconf 
xfdesktop 
xfwm4 
xfce4-terminal
firefox
xrdp
-plymouth*
-iwl*firmware
-sssd*
%end

# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --onboot=on --device=enp1s0 --hostname=$hostname.localdomain

# Run the Setup Agent on first boot
firstboot --enable

# Disk selection
ignoredisk --only-use=sda

# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda $blpass

# Partition clearing information
clearpart --all --initlabel

# Disk partitioning information
part pv.116 --fstype="lvmpv" --ondisk=sda --size=1 --grow
part /boot --fstype="xfs" --ondisk=sda --size=1024
volgroup cs pv.116
logvol / --fstype="ext4" --size=1 --name=root --vgname=cs --grow

# System timezone
timezone America/New_York --utc

# Lock root account
rootpw --lock

# Create user account
user --groups=wheel --name=$username --password="$userpass" --iscrypted

# Security initial setup
firewall --enabled --port=3389:tcp
selinux --enforcing

# Services enabled/disabled
services --disabled rpcbind.socket,rpcbind.service
services --enabled xrdp

# Reboot
reboot

# Post-installation
%post

# Finish XFCE setup
echo "xfce4-session" > /home/"$username"/.Xclients
chmod a+x /home/"$username"/.Xclients
systemctl set-default graphical

# Disable IPv6
echo "net.ipv6.conf.all.disable_ipv6 = 1" >> /etc/sysctl.conf 
echo "net.ipv6.conf.default.disable_ipv6 = 1" >> /etc/sysctl.conf 
echo "net.ipv6.conf.lo.disable_ipv6 = 1" >> /etc/sysctl.conf 

%end
