# version=RHEL8

# Configure installation method
cmdline

# Remote installation
url --url=https://repo.almalinux.org/almalinux/8/BaseOS/x86_64/kickstart/

# Repositories
repo --name=appstream --mirrorlist=https://mirrors.almalinux.org/mirrorlist/8/appstream
repo --name=base --mirrorlist=https://mirrors.almalinux.org/mirrorlist/8/baseos

# Packages
%packages
@^minimal-environment
@guest-agents
-plymouth*
-iwl*firmware
-sssd*
%end

# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --onboot=on --device=enp1s0 --hostname=$hostname.localdomain

# Run the Setup Agent on first boot
firstboot --enable

# Disk selection
ignoredisk --only-use=sda

# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda $blpass

# Partition clearing information
clearpart --all --initlabel

# Disk partitioning information
part pv.116 --fstype="lvmpv" --ondisk=sda --size=1 --grow
part /boot --fstype="xfs" --ondisk=sda --size=1024
volgroup cs pv.116
logvol / --fstype="ext4" --size=1 --name=root --vgname=cs --grow

# System timezone
timezone America/New_York --utc

# Lock root account
rootpw --lock

# Create user account
user --groups=wheel --name=$username --password="$userpass" --iscrypted

# Services enabled/disabled
services --disabled rpcbind.socket,rpcbind.service

# Reboot
reboot

# Post-installation
%post

# Clean up
dnf clean all

# Add Docker repo
dnf config-manager --add-repo=https://download.docker.com/linux/centos/docker-ce.repo

# Install Docker
dnf install docker-ce --nobest --allowerasing -y

# Enable Docker
systemctl enable docker --now 

# Install docker-compose
curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
chmod +x /usr/local/bin/docker-compose

# Symlink for root user
ln -s /usr/local/bin/docker-compose /usr/bin/docker-compose

# Setup docker directory
mkdir /home/$username/docker
chown $username:$username /home/$username/docker

%end
